{{ define "main" }}
<article class="markdown book-article">
  <h1>{{ .Title }}</h1>
  {{- with .Content }}{{ . }}{{ end -}}

  {{ template "section-tree" . }}
</article>
{{ end }}

{{/* Recursive section tree similar to sidebar file tree */}}
{{ define "section-tree" }}
  {{- $pages := where .Pages "Params.bookHidden" "ne" true -}}
  {{- if gt (len $pages) 0 -}}
  <ul>
    {{- range $pages -}}
      {{- if .IsSection -}}
        <li>
          <a href="{{ .RelPermalink }}">{{ partial "docs/title" . }}</a>
          {{ template "section-tree" . }}
        </li>
      {{- else if and .IsPage .Content -}}
        <li>
          <a href="{{ .RelPermalink }}">{{ partial "docs/title" . }}</a>
        </li>
      {{- else if .IsPage -}}
        <li>
          <a href="{{ .RelPermalink }}">{{ partial "docs/title" . }}</a>
        </li>
      {{- end -}}
    {{- end -}}
  </ul>
  {{- end -}}
{{ end }}

