{{ define "main" }}
<article class="markdown book-article">
  <h1>{{ .Title }}</h1>
  {{- with .Content }}{{ . }}{{ end -}}

  {{ template "section-tree" . }}

  {{/* Type tags buttons under the article list */}}
  <div class="list-sep" style="height: 16px;"></div>
  {{ partial "docs/type-tags" . }}
  
  {{/* Home link (replaces sidebar item) */}}
  <p class="home-link"><a href="https://lovelybuggies.github.io/">Who is LovelyBuggies?</a></p>
</article>
{{ end }}

{{/* Recursive section tree similar to sidebar file tree */}}
{{ define "section-tree" }}
  {{- $pages := where .Pages "Params.bookHidden" "ne" true -}}
  {{- if gt (len $pages) 0 -}}
  <ul>
    {{- range $pages -}}
      {{- if eq .File.BaseFileName "who_is_lovelybuggies" -}}
        {{- /* skip this special page from list */ -}}
      {{- else if .IsSection -}}
        <li class="section">
          {{- if .Content -}}
            <a href="{{ .RelPermalink }}">{{ partial "docs/title" . }}</a>
          {{- else -}}
            <span>{{ partial "docs/title" . }}</span>
          {{- end -}}
          {{ template "section-tree" . }}
        </li>
      {{- else if and .IsPage .Content -}}
        <li class="page">
          <a href="{{ .RelPermalink }}">{{ partial "docs/title" . }}</a>
        </li>
      {{- else if .IsPage -}}
        <li class="page">
          <a href="{{ .RelPermalink }}">{{ partial "docs/title" . }}</a>
        </li>
      {{- end -}}
    {{- end -}}
  </ul>
  {{- end -}}
{{ end }}
