{{/* Renders badges for Date, Reading Time, Author using Book theme styles */}}
{{- $page := .Page -}}
{{- $date := $page.Date -}}
{{- $dateYear := $date | time.Format "2006" -}}
{{- $dateFmt := cond (ne $dateYear "0001") ($date | time.Format "Jan 2, 2006") ($page.Lastmod | time.Format "Jan 2, 2006") -}}
{{- $rt := or ($page.Param "readingTime") $page.ReadingTime -}}
{{- $rtInt := int $rt -}}
{{- $rtAdj := cond (lt $rtInt 1) 1 $rtInt -}}
{{- $reading := printf "%d mins" $rtAdj -}}
{{- $author := or .Site.Params.AuthorName .Site.Params.Author "Shuo" -}}

<span class="book-badge danger"><span class="book-badge-title">Author</span><span class="book-badge-value">{{ $author }}</span></span>
<span class="book-badge warning"><span class="book-badge-title">Date</span><span class="book-badge-value">{{ $dateFmt }}</span></span>
<span class="book-badge success"><span class="book-badge-title">Reading</span><span class="book-badge-value">{{ $reading }}</span></span>
{{- /* Type badge from front matter: postType or type */ -}}
{{- $t := lower (or ($page.Param "postType") ($page.Param "type")) -}}
{{- $t = cond (eq $t "thoughts") "thought" $t -}}
{{- $tLabel := cond (eq $t "thought") "Thought" (cond (eq $t "review") "Review" "Review") -}}
{{- $typeClass := cond (eq $t "thought") "thought" "review" -}}
<span class="book-badge info type-badge {{ $typeClass }}"><span class="book-badge-title">Type</span><span class="book-badge-value">{{ $tLabel }}</span></span>
