{{/* Renders badges for Date, Reading Time, Author using Book theme styles */}}
{{- $page := .Page -}}
{{- $date := $page.Date -}}
{{- $dateYear := $date | time.Format "2006" -}}
{{- $dateFmt := cond (ne $dateYear "0001") ($date | time.Format "Jan 2, 2006") ($page.Lastmod | time.Format "Jan 2, 2006") -}}
{{- $rt := or ($page.Param "readingTime") $page.ReadingTime -}}
{{- $rtInt := int $rt -}}
{{- $rtAdj := cond (lt $rtInt 1) 1 $rtInt -}}
{{- $reading := printf "%d mins" $rtAdj -}}
{{- $author := or .Site.Params.AuthorName .Site.Params.Author "Shuo" -}}

<span class="book-badge danger"><span class="book-badge-title">Author</span><span class="book-badge-value">{{ $author }}</span></span>
<span class="book-badge warning"><span class="book-badge-title">Date</span><span class="book-badge-value">{{ $dateFmt }}</span></span>
<span class="book-badge success"><span class="book-badge-title">Reading</span><span class="book-badge-value">{{ $reading }}</span></span>
{{- /* Always show Type as Review for all posts */ -}}
<span class="book-badge info"><span class="book-badge-title">Type</span><span class="book-badge-value">Review</span></span>
