{{/*
Usage:

1) Markdown list (easiest):

   {{< references >}}
   - Author, Title, Venue, Year. <https://link>
   - Author, Book, Year.
   {{< /references >}}

   This will render as an ordered list with [1], [2], ... markers.

2) Raw <li> items:

   {{< references >}}
   <li>Author, Title …</li>
   <li>Author, Title …</li>
   {{< /references >}}
*/}}

{{- $inner := .Inner -}}
{{- /* strip anchor tags and angle-bracket autolinks to plain text */ -}}
{{- $stripLinks := func (s) -}}
  {{- $s1 := replaceRE "(?s)<a[^>]*>(.*?)</a>" "${1}" s -}}
  {{- $s2 := replaceRE "<(https?://[^ >]+)>" "${1}" $s1 -}}
  {{- $s2 -}}
{{- end -}}

{{- if in $inner "<li" -}}
  {{- $clean := call $stripLinks $inner -}}
  <ol class="references">{{ $clean | safeHTML }}</ol>
{{- else -}}
  {{- $html := $inner | markdownify -}}
  {{- $html = $html | replaceRE "^\\s*<ul[^>]*>" "<ol class=\"references\">" -}}
  {{- $html = $html | replaceRE "</ul>\\s*$" "</ol>" -}}
  {{- $html = call $stripLinks $html -}}
  {{- $html | safeHTML -}}
{{- end -}}
