{{/*
Usage:

1) Markdown list (easiest):

   {{< references >}}
   - Author, Title, Venue, Year. <https://link>
   - Author, Book, Year.
   {{< /references >}}

   This will render as an ordered list with [1], [2], ... markers.

2) Raw <li> items:

   {{< references >}}
   <li>Author, Title …</li>
   <li>Author, Title …</li>
   {{< /references >}}
*/}}

{{- $inner := .Inner -}}
{{- if in $inner "<li" -}}
  {{- /* If raw <li> items provided, strip links then wrap */ -}}
  {{- $clean := replaceRE "(?s)<a[^>]*>(.*?)</a>" "${1}" $inner -}}
  {{- $clean = replaceRE "<(https?://[^ >]+)>" "${1}" $clean -}}
  <ol class="references">{{ $clean | safeHTML }}</ol>
{{- else -}}
  {{- /* If markdown bullets provided, convert to HTML then strip links */ -}}
  {{- $html := $inner | markdownify -}}
  {{- $html = $html | replaceRE "^\\s*<ul[^>]*>" "<ol class=\"references\">" -}}
  {{- $html = $html | replaceRE "</ul>\\s*$" "</ol>" -}}
  {{- $html = replaceRE "(?s)<a[^>]*>(.*?)</a>" "${1}" $html -}}
  {{- $html = replaceRE "<(https?://[^ >]+)>" "${1}" $html -}}
  {{- $html | safeHTML -}}
{{- end -}}
